NODE_ENV=develop
BINANCE_API_KEY=asdasd123123123
BINANCE_SECRET_KEY=asdasd123123asdasd
TELEGRAM_BOT_TOKEN=ads123asd123
TELEGRAM_SESSION_STRING="asdasdasdasd"
TELEGRAM_ADMIN_CHAT_ID=123123
TELEGRAM_SIGNAL_CHANNEL_ID=-100123123
TELEGRAM_API_ID=123123
TELEGRAM_API_HASH="123123"
BINANCE_TESTNET=false
MONITOR_INTERVAL_MS=5000
CONFIRM_MAX_PRICE_MOVE_PCT=0.005
DEFAULT_POSITION_SIZE_USDT="10"
